<div class="form-container">
  <mat-toolbar color="Basic">{{action}} Product</mat-toolbar>

  <form class="product-form" [formGroup]="productForm">

    <mat-form-field appearance="fill">
      <mat-label>Product Name</mat-label>
      <input matInput formControlName="productName" [(ngModel)]="selectedProduct.productName" required>
      <mat-error *ngIf="productForm.controls['productName'].errors?.required">Invalid form value</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Quantity Available</mat-label>
      <input matInput formControlName="quantityAvailable" [(ngModel)]="selectedProduct.quantityAvailable" required>
      <mat-error *ngIf="productForm.controls['quantityAvailable'].errors?.required">Invalid form value</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Market Price</mat-label>
      <input matInput formControlName="marketPrice" [(ngModel)]="selectedProduct.marketPrice" required>
      <mat-error *ngIf="productForm.controls['marketPrice'].errors?.required">Invalid form value</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Start Date</mat-label>
      <input matInput formControlName="startDate" [(ngModel)]="selectedProduct.startDate" placeholder="mm/dd/yyyy" required>
      <mat-error *ngIf="productForm.controls['startDate'].errors?.required">Invalid form value</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>End Date</mat-label>
      <input matInput formControlName="endDate" [(ngModel)]="selectedProduct.endDate" placeholder="mm/dd/yyyy" required>
      <mat-error *ngIf="productForm.controls['endDate'].errors?.required">Invalid form value</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Manufacture Date</mat-label>
      <input matInput formControlName="manufactureDate" [(ngModel)]="selectedProduct.manufactureDate" placeholder="mm/dd/yyyy" required>
      <mat-error *ngIf="productForm.controls['manufactureDate'].errors?.required">Invalid form value</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Expiry Date</mat-label>
      <input matInput formControlName="expiryDate" [(ngModel)]="selectedProduct.expiryDate" placeholder="mm/dd/yyyy" required>
      <mat-error *ngIf="productForm.controls['expiryDate'].errors?.required">Invalid form value</mat-error>
    </mat-form-field>

  </form>

  <div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="productForm.invalid">Save</button>
    <button mat-raised-button color="warn" (click)="onClose()">Close</button>
  </div>
</div>
