.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin-left: 35rem;
  }
  
  .example-full-width {
  width: 100%;
  margin-top: 1rem;
  }
  
  .login-password {
    margin-top: 1rem;
  }