<div class="invoice-table">
  <button mat-raised-button (click)="onGenerate()">Generate Invoice</button>
  <mat-error *ngIf="errorMessage != ''">
    {{errorMessage}}
  </mat-error>
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="dataSource">
    <ng-container matColumnDef="invoiceId">
      <mat-header-cell *matHeaderCellDef> Invoice Id </mat-header-cell>
      <mat-cell *matCellDef="let InvoiceDetail"> {{InvoiceDetail.invoiceId}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="customerName">
      <mat-header-cell *matHeaderCellDef> Customer Name </mat-header-cell>
      <mat-cell *matCellDef="let InvoiceDetail"> {{InvoiceDetail.customerName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
      <mat-cell *matCellDef="let InvoiceDetail"> {{InvoiceDetail.amount}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="amountAfterDiscount">
      <mat-header-cell *matHeaderCellDef> After Discount </mat-header-cell>
      <mat-cell *matCellDef="let InvoiceDetail"> {{InvoiceDetail.amountAfterDiscount}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="insertDate">
      <mat-header-cell *matHeaderCellDef> Insert Date</mat-header-cell>
      <mat-cell *matCellDef="let InvoiceDetail"> {{InvoiceDetail.insertDate}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
      (click)="selectRow($event, row)"
      [ngClass]="{hovered: row.hovered, highlighted: selection.isSelected(row)}"
      (mouseover)="row.hovered = true" (mouseout)="row.hovered = false">
    </mat-row>
  </mat-table>
</div>