table {
  width: 100%;
}
button{
  margin: 20px 0;
  margin-right: 20px;
}

.mat-dialog-container{
  padding: 10px !important;
}

.mat-row.hovered {
  background: #eee;
}

.mat-row.highlighted {
background: #778fee
}