<div class="form-container">
  <mat-toolbar color="basic">{{action}} Transaction </mat-toolbar>
  <form class="transaction-form" [formGroup]="transactionForm">
    <mat-form-field appearance="fill">
      <mat-label>Customer Id</mat-label>
      <input matInput formControlName="customerId" [(ngModel)]="selectedTransaction.customerId" placeholder="Customer Id" required >
      <mat-error *ngIf="transactionForm.controls['customerId'].errors?.required">Invalid form value</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Product Id</mat-label>
      <input matInput formControlName="productId" [(ngModel)]="selectedTransaction.productId" placeholder="Product Id" required >
      <mat-error *ngIf="transactionForm.controls['productId'].errors?.required">Invalid form value</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Quantity</mat-label>
      <input matInput formControlName="quantity" [(ngModel)]="selectedTransaction.quantity" placeholder="Quantity" required >
      <mat-error *ngIf="transactionForm.controls['quantity'].errors?.required">Invalid form value</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Rate</mat-label>
      <input matInput formControlName="rate" [(ngModel)]="selectedTransaction.rate" placeholder="Rate" required >
      <mat-error *ngIf="transactionForm.controls['rate'].errors?.required">Invalid form value</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Total Amount</mat-label>
      <input matInput formControlName="totalAmount" [(ngModel)]="selectedTransaction.totalAmount" placeholder="Total Amount" required >
      <mat-error *ngIf="transactionForm.controls['totalAmount'].errors?.required">Invalid form value</mat-error>
    </mat-form-field>
    
  </form>
  <div mat-dialog-actions>
    <button mat-raised-button color="basic" (click)="onSubmit()" [disabled]="customerForm.invalid">Save</button>
    <button mat-raised-button color="basic" (click)="onClose()">Close</button>
  </div>
</div>