<div>
  <button mat-raised-button (click)="getAllUsers()" color="secondary">Show all users</button>
<br>
<br>
  <!-- <mat-error *ngIf="userMessage != ''">
    {{errorMessage}}
  </mat-error> -->

  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="UserId">
      <mat-header-cell *matHeaderCellDef> User Id </mat-header-cell>
      <mat-cell *matCellDef="let UserDetail"> {{UserDetail.userId}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="UserName">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let UserDetail"> {{UserDetail.userName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Password">
      <mat-header-cell *matHeaderCellDef> Password </mat-header-cell>
      <mat-cell *matCellDef="let UserDetail"> {{UserDetail.password}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="InsertPersonId">
      <mat-header-cell *matHeaderCellDef> Person Id </mat-header-cell>
      <mat-cell *matCellDef="let UserDetail"> {{UserDetail.insertPersonId}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="InsertDate">
      <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
      <mat-cell *matCellDef="let UserDetail"> {{UserDetail.insertDate}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <span *ngIf="userMessage != ''" style="color: red;font-size: medium;font-weight: bold;"> {{userMessage}}</span>
</div>