<div class="form-container">
  <mat-toolbar color="primary">{{action}} Customer</mat-toolbar>
  <form class="customer-form" [formGroup]="customerForm">
    <mat-form-field appearance="fill">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName" [(ngModel)]="selectedCustomer.firstName" placeholder="First Name" required >
      <mat-error *ngIf="customerForm.controls['firstName'].errors?.required">Invalid form value</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Middle Name</mat-label>
      <input matInput formControlName="middleName" [(ngModel)]="selectedCustomer.middleName" placeholder="Middle Name" required >
      <mat-error *ngIf="customerForm.controls['middleName'].errors?.required">Invalid form value</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Surame</mat-label>
      <input matInput formControlName="surname" [(ngModel)]="selectedCustomer.surname" placeholder="Surname" required >
      <mat-error *ngIf="customerForm.controls['surname'].errors?.required">Invalid form value</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Contact</mat-label>
      <input matInput formControlName="contactNo" [(ngModel)]="selectedCustomer.contactNo" placeholder="contact number" required >
      <mat-error *ngIf="customerForm.controls['contactNo'].errors?.required">Invalid form value</mat-error>
      <mat-error *ngIf="customerForm.controls['contactNo'].errors?.pattern">Please enter valid data</mat-error>
      <!--<mat-error *ngIf="customerForm.controls['contact'].errors?.minLength">minimum length should be 8 characters</mat-error>
      <mat-error *ngIf="customerForm.controls['contact'].errors?.maxLength">maximum 15 characters allowed</mat-error>-->
    </mat-form-field>
  </form>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="customerForm.invalid">Save</button>
    <button mat-raised-button color="warn" (click)="onClose()">Close</button>
  </div>
</div>